In [2]:
from typing import List
import pandas as pd
import json

def to_jsonl(data: List[dict], filename: str):
    with open(filename, "w") as f:
        for item in data:
            f.write(json.dumps(item) + "\n")

def to_txt(data: str, filename: str):
    with open(filename, "w") as f:
        f.write(data)

In [3]:
bank_schema = pd.read_excel("resources/database/schemas/bank.xlsx", sheet_name="bank")
bank_schema = bank_schema.fillna("")
bank_schema.head()

,Table Name,Column Name,Core Feature,Use case (if have),Category,Data Type,Key/Constraint,Constant,Description,Example
0,dim_customer,customer_key,,,Key,INT,Primary Key,False,"A unique, surrogate key for the customer in th...",1002345
1,dim_customer,customer_id,,,Business ID,VARCHAR(20),"Unique, Not Null",True,The customer's main ID from the operational (O...,CUS-98765
2,dim_customer,email_address,,,,VARCHAR(255),Not Null,False,Customer's primary email.,
3,dim_customer,phone_number,,,,INTEGER,Not Null,False,Customer's phone number.,
4,dim_customer,national_id,,,,INTEGER,Not Null,True,,

In [9]:
for table in bank_schema["Table Name"].unique():
    to_txt(
        bank_schema[bank_schema["Table Name"] == table].to_markdown(index=False),
        f"resources/database/schemas/{table}.txt"
    )
to_txt(
    bank_schema.to_markdown(index=False),
    "resources/database/schemas/bank.txt"
)

In [10]:
solution_schema = pd.read_excel("resources/database/schemas/bank.xlsx", sheet_name="solution")
solution_schema = solution_schema.fillna("")
solution_schema["Table Name"].unique()
for table in solution_schema["Table Name"].unique():
    to_txt(
        solution_schema[solution_schema["Table Name"] == table].to_markdown(index=False),
        f"resources/database/schemas/{table}.txt"
    )
to_txt(
    solution_schema.to_markdown(index=False),
    "resources/database/schemas/solution.txt"
)

In [6]:
solution_schema["Table Name"].unique()

array(['dim_rm_preference', 'dim_document'], dtype=object)